# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# The output of our makefile
runfile
pedestal
*.pyc

#textures
textures/*

# Models I don't want in
# version control
rungholt
rungholt*
house*
sibenik*
kamen*
dabrovic*
humpback*
dragon*
bunny*
teapot*
default.mtl
sanmiguel*
sponza*
