# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# The output of our makefile
runfile
pedestal
bullet_demo
*.pyc

# apitrace
*.trace

# gdb
.gdbinit

#textures
examples/textures/*

!examples/textures/mramor6x6.png
!examples/textures/checker.jpg
!examples/textures/credit.txt
!examples/textures/earthmap1k.jpg

#models
examples/models/*

!examples/models/cube/*
!examples/models/plane/*
!examples/models/sphere/*
!examples/modeles/suzanne*

#ctags
tags
